@using web_app_asp_net_mvc_code_first.Models.Entities
@model Error

<h3>Ошибка</h3>

@using (Html.BeginForm("Create", "Errors", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.EditorForModel()
    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить", "Index", "Errors")
}